<h1>AjaxApp</h1>
<%= form_with url:  "/posts", method: :post,id: "form" do |form| %>
  <%# contentを取得 %>
  <%= form.text_field :content  , id: "content"%>
  <%# index.html.erbのフォームにある「投稿する」ボタンの情報を取得 %>
  <%= form.submit '投稿する' , id: "submit" %>
<% end %>

<%# 投稿後にメモを追加する要素 %>
<div id="list">
</div>

<% @posts.each do |post| %>
  <div class="post">
    <%# 前者はメモのidが、後者は既読の有無を管理するcheckedカラムの情報が入る。 %>
    <div class="post" data-id=<%= post.id %> data-check=<%= post.checked %>>
      投稿日時：<%= post.created_at %>
    </div>
    <div class="post-content">
      <%= post.content %>
    </div>
  </div>
<% end %>